.checkout-hero {
    background-color: #f8f5f0;
    height: 40vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.checkout-hero h1 {
    font-size: 2.5rem;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.crumbs-text {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 0.5rem;
}

.crumbs-text a {
    text-decoration: none;
    color: black;
}

.checkout-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
    margin: 50px auto;
}

.checkout-information {
    padding: 2rem 1.5rem;
}

.checkout-information h1 {
    font-size: 26px;
}

form {}

.input-fields {
    display: flex;
    margin: 1.5rem 0px;
    gap: 2.5rem;
    width: 600px;
}

.input-fields input {
    padding: 1rem 0.9rem;
    width: 50%;
    background-color: transparent;
    border-radius: 0.5rem;
    outline: none;
    font-size: 14px;
    outline: none;
    border: 1px solid black;
}

.form-btn button {
    width: 100%;
    padding: 1rem 0rem;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
    border: 1px solid black;
}

.form-btn button:hover {
    background-color: black;
    color: white;
}

.parent-order {
    width: 100%;
}

.parent-order h1 {
    font-size: 26px;
}

.order-section {
    margin: 1.5rem 0px;
    padding: 2rem 1.5rem;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
}

.checkout-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 1.5rem 0rem;
}

.checkout-image {
    width: 150px;
}

.checkout-image img {
    width: 100%;
}

.checkout-title {
    font-size: 18px;
}

.checkout-price {
    font-size: 18px;
}

.checkout-total {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;
}