.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* background-color: #f7f7f7; */
}

h2 {
    text-align: left;
    color: #333;
}

.register-form {
    background: #f7f7f7;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.input-group {
    margin-bottom: 1.5rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: black;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.input-group input:focus {
    border-color: black;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.register-btn {
    display: block;
    width: 100%;
    padding: 0.8rem;
    border: none;
    background-color: black;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: rgba(0, 0, 0, 0.769);
}