#contact-form {
    width: 600px;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1.5rem 1.5rem;
}

#contact-form h2 {
    margin-bottom: 1rem;
}

.form-inputs {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.form-inputs input {
    width: 50%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 2rem;
}

#contact-form button {
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 1.5);
    font-size: 1rem;
}