.top-bar {
    width: 100%;
    background-color: black;
    overflow: hidden;
    height: auto;
    position: relative;
}

.scroll {
    display: flex;
    animation: scrollAnimation 20s linear infinite;
    align-items: center;
    justify-content: space-between;
}

.tab {
    flex: 0 0 auto;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    white-space: nowrap;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}