/* .gallery-container {

    border: 1px solid black;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 5%;
    padding: 1rem 2rem;
    margin-bottom: 2rem;

}

.gallery {
    border: 1px solid black;
} */

.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    height: 500px;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 3rem;

}

.gallery {
    background-position: center;
    background-size: cover;
    transition: background-size 1s ease;
}

.gallery button {
    padding: 0.8rem 1.5rem;
    margin-bottom: 0.6rem;
    border-radius: 0.6rem;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.gallery button:hover {
    background-color: black;
    color: white;
}

/* 
.gallery:hover {
    background-size: 110%;
    cursor: pointer;
} */

.left {
    grid-column: 1;
    grid-row: 1 / span 2;
    background-color: lightblue;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url(../../assets/prod-1.jpg);
    border-radius: 0.5rem;
    background-size: cover;
}

.top-right-1 {
    grid-column: 2;
    grid-row: 1;
    width: 45%;
    border-radius: 0.5rem;
    background-color: lightcoral;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url(../../assets/prod-2.jpg);
    border-radius: 0.5rem;
    background-size: cover;
}

.top-right-2 {
    grid-column: 2;
    grid-row: 1;
    margin-left: 50%;
    width: 45%;
    border-radius: 0.5rem;
    width: 50%;
    background-color: lightgreen;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url(../../assets/prod-3.jpg);
    border-radius: 0.5rem;
    background-size: cover;
}

.bottom-right {
    grid-column: 2;
    grid-row: 2;
    background-color: lightgoldenrodyellow;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url(../../assets/prod-4.jpg);
    background-size: cover;
    border-radius: 0.5rem;
}


@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .left {
        grid-row: 1;
    }

    .top-right-1,
    .top-right-2,
    .bottom-right {
        grid-column: 1;
        width: 100%;
        margin-left: 0;
    }
}