.hero-section {
    background-image: url(../../assets/Hero.jpg);
    max-width: 1300px;
    margin: auto;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.hero-content p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.581);
    margin-bottom: 2rem;
}

.hero-content button {
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    letter-spacing: 3px;
    outline: none;
    cursor: pointer;
}

/* Single image on Hero Page */
.signle-image {
    background-image: url(../../assets/home-03.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 95%;
    border-radius: 0.5rem;
    height: 100vh;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(10px);
    /* Blurriness */
    z-index: -1;
    /* background-color: rgba(0, 0, 0, 0.141); */
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 4rem;
}

.signle-image h2 {
    color: white;
    padding-bottom: 1.5rem;
    font-size: 4rem;
}

.signle-image button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    /* border: 1px solid black; */
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: white;
    color: black;
    transition: all 0.3s ease-in;
}

.signle-image button a {
    color: black;
    transition: all 0.3s ease-in;
    text-decoration: none;
}

.signle-image button:hover {
    background-color: black;
}

.signle-image button:hover a {
    color: white;
}

.Swiper-carousal {
    width: 95%;
    margin: auto;
    margin-bottom: 2rem;
}

.swiper-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem;
    flex-direction: column;
    text-align: center;
}

.swiper-text :where(h2) {
    margin: 1rem 1rem;
    color: black;
    font-size: 2.5rem;
}

.swiper-text :where(p) {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.swiper-btn {
    padding: 1rem 3.5rem;
    background-color: none;
    border-radius: 0.5rem;
    border: 2px solid black;
    font-size: 16px;
    display: block;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.swiper-btn a {
    color: black;
    text-decoration: none;
}

.testimonial {
    width: 95%;
    margin: auto;
}

.blogs {
    width: 95%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.blogs-content {
    text-align: center;
    margin-bottom: 2.5rem;
}

.blogs-content h2 {
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
}

.blogs-content p {
    color: rgba(0, 0, 0, 0.6);
}

/* Home icon Box */
.home-icons {
    border-top: 1px solid rgba(0, 0, 0, 0.508);
    border-bottom: 1px solid rgba(0, 0, 0, 0.508);
    height: 130px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-box {
    width: 20%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.icon-image {
    /* width: 0px; */
}

.icon-image img {
    width: 100%;
}

.icon-desc p {
    font-size: 20px;
    color: black;
    margin-bottom: 1rem;
}

.icon-desc span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}